[Unit]
Description=Service file to start our boot script
After=sshd.service

[Service]
Type=simple
ExecStart=/boot_scripts/runOnBoot.sh

[Install]
WantedBy=default.target