[Unit]
Description=Starts the equihash miner
After=network.target

[Service]
Type=simple
PIDFile=/tmp/equiMiner.pid
ExecStart=/boot_scripts/miner.sh

[Install]
WantedBy=multi-user.target
