[Unit]
Description=Starts the mining service
After=network.target

[Service]
Type=simple
PIDFile=/tmp/miner.pid
ExecStart=/boot_scripts/miner.sh

[Install]
WantedBy=multi-user.target